<button
  class="ui-button"
  [class.ui-button--primary]="variant === 'primary'"
  [class.ui-button--outline]="variant === 'outline'"
  [class.ui-button--ghost]="variant === 'ghost'"
  [class.ui-button--danger]="variant === 'danger'"
  [class.ui-button--sm]="size === 'sm'"
  [class.ui-button--lg]="size === 'lg'"
  [disabled]="disabled"
  [attr.type]="type"
  (click)="handleClick($event)"
>
  <span class="ui-button__glow" aria-hidden="true"></span>
  <span class="ui-button__content">
    <ng-content></ng-content>
  </span>
</button>
