<mat-toolbar color="primary" class="topbar" [class.compact-brand]="profiles.length > 3">
  <button type="button" class="brand" (click)="goHome()">
    <span class="material-icons">rocket_launch</span>
    <span class="brand-title">{{ 'app.title' | translate }}</span>
  </button>
  <app-profile-avatar
    *ngIf="showProfiles"
    class="center-avatar"
    [src]="avatarSrc"
    [profiles]="profiles"
    [maxProfiles]="maxProfiles"
    [activeProfileId]="activeProfileId"
    (createProfile)="openCreateProfile()"
    (editProfile)="openEditProfile()"
    (profileSelect)="selectProfile($event)"
  />
  <div class="spacer"></div>
  <mat-form-field *ngIf="showLanguageSelect" class="language-select" appearance="fill">
    <mat-select
      [value]="language()"
      (selectionChange)="changeLanguage($event.value)"
      [attr.aria-label]="'topbar.language' | translate"
    >
      <mat-option *ngFor="let option of languageOptions" [value]="option.value">
        <span class="language-flag" aria-hidden="true">{{ option.flag }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-user-menu
    [isLoggedIn]="isLoggedIn()"
    [avatarSrc]="avatarSrc"
    [userAvatarUrl]="userAvatarUrl()"
    [avatarLoadFailed]="avatarLoadFailed()"
    [authProvider]="authProvider()"
    [showSettings]="showSettings"
    [showAdmin]="isAdmin"
    (settingsClick)="settingsClick.emit()"
    (openAuthDialog)="emitOpenAuthDialog()"
    (openResetPassword)="openResetPassword()"
    (logout)="logout()"
  />
  <div class="sync-status" *ngIf="isLoggedIn() && showSyncStatus">
    <span
      *ngIf="!isOnline || syncError"
      class="status offline"
      [attr.title]="syncError || null"
      (click)="openSyncStatus()"
      role="button"
      tabindex="0"
    >
      <span class="dot"></span>
      {{ 'sync.offline' | translate }}
    </span>
    <span *ngIf="isOnline && isSyncing" class="status syncing">
      <span class="dot"></span>
      {{ 'sync.syncing' | translate }}
    </span>
    <span *ngIf="isOnline && !isSyncing && lastSyncAt && !syncError" class="status synced">
      <span class="dot"></span>
      {{ 'sync.syncedAt' | translate:{ time: (lastSyncAt | date:'shortTime') } }}
    </span>
    <span *ngIf="isOnline && !isSyncing && lastSyncAt && !syncError" class="status updated">
      <span class="dot"></span>
      {{ 'sync.updatedAt' | translate:{ time: (lastSyncAt | date:'shortTime') } }}
    </span>
  </div>
</mat-toolbar>
