<div class="user-menu-actions">
  <ng-container *ngIf="isLoggedIn; else loggedOutAvatar">
    <button
      mat-icon-button
      class="avatar-button"
      [matMenuTriggerFor]="authMenu"
      [attr.aria-label]="'auth.account' | translate"
    >
      <ng-container *ngIf="userAvatarUrl && !avatarLoadFailed; else localAvatar">
        <img
          class="avatar-image"
          [src]="userAvatarUrl"
          alt=""
          (error)="handleAvatarError()"
        />
      </ng-container>
      <ng-template #localAvatar>
        <img class="avatar-image" [src]="avatarSrc" alt="" />
      </ng-template>
    </button>
  </ng-container>
  <ng-template #loggedOutAvatar>
    <button
      mat-icon-button
      class="avatar-button"
      (click)="openAuthDialog.emit()"
      [attr.aria-label]="'auth.signIn' | translate"
    >
      <span class="material-icons avatar-icon">account_circle</span>
    </button>
  </ng-template>
  <button
    *ngIf="showSettings"
    mat-icon-button
    class="settings-button"
    (click)="settingsClick.emit()"
    [attr.aria-label]="'app.settings' | translate"
  >
    <span class="material-icons settings-icon">settings</span>
  </button>
</div>

<mat-menu #authMenu="matMenu" panelClass="avatar-menu" [overlapTrigger]="false" xPosition="after" yPosition="below">
  <mat-nav-list class="menu-list" aria-label="user menu">
    @if (showAdmin) {
      <mat-list-item class="menu-item" [routerLink]="['/admin']">
        <span matListItemIcon class="menu-item-icon material-icons">admin_panel_settings</span>
        <span matListItemTitle class="menu-item-text">{{ 'auth.admin' | translate }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    }
    <mat-list-item class="menu-item" [routerLink]="['/dashboard']">
      <span matListItemIcon class="menu-item-icon material-icons">dashboard</span>
      <span matListItemTitle class="menu-item-text">{{ 'auth.dashboard' | translate }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    @if (canChangePassword) {
      <mat-list-item class="menu-item" (click)="openResetPassword.emit()">
        <span matListItemIcon class="menu-item-icon material-icons">lock_reset</span>
        <span matListItemTitle class="menu-item-text">{{ 'auth.changePassword' | translate }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    }
    <mat-list-item class="menu-item" (click)="logout.emit()">
      <span matListItemIcon class="menu-item-icon material-icons">logout</span>
      <span matListItemTitle class="menu-item-text">{{ 'auth.logout' | translate }}</span>
    </mat-list-item>
  </mat-nav-list>
</mat-menu>
