<label class="ui-field">
  <span class="ui-field__label">
    {{ label }}
    <span class="ui-field__required" *ngIf="required">*</span>
  </span>
  <select
    class="ui-field__control ui-field__control--select"
    [disabled]="disabled"
    [ngModel]="value"
    (ngModelChange)="valueChange.emit($event)"
  >
    <option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
      {{ option.label }}
    </option>
  </select>
  <span class="ui-field__hint" *ngIf="hint && !error">{{ hint }}</span>
  <span class="ui-field__error" *ngIf="error">{{ error }}</span>
</label>
