<h2 mat-dialog-title>{{ 'pwaDialog.title' | translate }}</h2>
<mat-dialog-content class="pwa-dialog">
  <p class="pwa-dialog__lead">{{ 'pwaDialog.lead' | translate }}</p>
  <ol class="pwa-dialog__steps">
    <li>{{ 'pwaDialog.step1' | translate }}</li>
    <li>{{ 'pwaDialog.step2' | translate }}</li>
    <li>{{ 'pwaDialog.step3' | translate }}</li>
  </ol>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'pwaDialog.close' | translate }}</button>
</mat-dialog-actions>
