<section class="panel panel-problem">
  <div class="panel-inner reverse">
    <div class="panel-copy">
      <h2>{{ 'landing.problem.title' | translate }}</h2>
      <div class="panel-visual panel-visual--mobile">
        <img class="panel-image" src="assets/images/home/home_2.webp" [attr.alt]="'landing.problem.imageAlt' | translate" />
      </div>
      <ul class="bullet-list">
        <li>{{ 'landing.problem.bullets.0' | translate }}</li>
        <li>{{ 'landing.problem.bullets.1' | translate }}</li>
        <li>{{ 'landing.problem.bullets.2' | translate }}</li>
      </ul>
      <p class="section-note">{{ 'landing.problem.note' | translate }}</p>
    </div>
    <div class="panel-visual panel-visual--desktop">
      <img class="panel-image" src="assets/images/home/home_2.webp" [attr.alt]="'landing.problem.imageAlt' | translate" />
    </div>
  </div>
</section>
